*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}
.navbar{
    border: 1px solid black;
    padding: 5px 8px;
    /* overflow: hidden; */
    height: 55px;
    background-color: black;
    color: #fff;
}
.name{
    float: left;
    padding: 0 20px;
    padding-left: 4px;
    font-size: 28px;
}
.logo{
    float: left;
    padding: 10px 0px;
}
.container ul li{
    float: left;
    padding: 6px 20px;
    list-style: none;
    font-size: 19px;
}
.container ul :first-child{
    color: rgb(245, 213, 28);
}
.container ul li .fa{
    padding-right: 2px;
}
.search{
    float: right;
    padding: 4px 20px;
}
.search input{
    padding: 0 10px;
    font-size: 20px;
}
.search .icon{
    float: right;
    background-color: #fff;
    color: black;
    padding: 5px 4px;
}

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        overflow: hidden;
    }

    #imagebox {
        position: relative;
        height: 17em;
        width: 24em;
        overflow: hidden;
        margin: auto;
    }

    #imagebox img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #box {
        /* border: 2px solid black; */
        position: relative;
        width: 100%;
        max-width: 50em;
        min-height: 30em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #box::before{
      content: "";
      position: absolute;
      top: 5em;
      right: 0;
      width: 40em;
      height: 4em;
      background-color: rgb(245, 213, 28);
      /* border: 1px solid red; */
    }

    #content {
        /* border: 4px solid rgb(137, 48, 48); */
        position: relative;
        height: 22em;
        width: 22em;
        margin: auto;
        padding: 15px;
    }

    button {
        margin-top: 10px;
        border: none;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }

    #button2 {
        padding: 10px 20px;
        border-radius: 5px;
        background: rgb(214, 88, 88);
        animation-name: button;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    @keyframes button{
      form{
        font-size: 1em;
      }

      to{
        font-size: 1.5em;
      }
    }

    #button1 {
        border-bottom: 2px solid rgb(84, 25, 25);
        background: transparent;
    }

    p {
        margin-top: 10px;
        font-weight: bold;
    }

    h1 {
        color: rgb(92, 11, 11);
        font-size: 46px;
    }
